* {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    overflow: hidden;
  }
  
  #background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1; /* Membuat video berada di belakang elemen lain */
  }
  
  .container {
    position: relative;
    z-index: 1; /* Membuat konten di depan video */
    /* Tambahkan gaya lain sesuai kebutuhan */
  }
  
  body {
    font-family: "Ubuntu", sans-serif;
    display: grid;
    place-items: center;
    background-image:url('Green\ Marble\ Happy\ Life\ Desktop\ Wallpaper\ \(2\).png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    width: 90vw;
    max-width: 480px;
    margin: 0 auto;
    padding: 10vh 2vw;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .name {
    font-size: 1.6rem;
    margin-top: 10px;
  }
  
  .about {
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
  
  .btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .instagram {
    background: linear-gradient(
      90deg,
      rgba(120, 11, 142, 1) 0%,
      rgba(168, 36, 25, 1) 51%,
      rgba(255, 166, 0, 1) 100%
    );
  }
  
  .g-mail {
    background: linear-gradient(
      90deg,
      rgba(142, 11, 11, 1) 0%,
      rgba(223, 23, 23, 1) 100%
    );
  }
  .tiktok {
    background: linear-gradient(
      90deg,
      rgb(223, 0, 36) 0%,  
      rgb(0, 32, 128) 33%,   
      rgb(0, 0, 0) 66%,    
      rgb(255, 255, 255) 100% 
    );
  }   
  .whatsapp {
    background: linear-gradient(
      90deg,
      rgba(37, 211, 102, 1) 0%,   
      rgba(37, 211, 102, 1) 100%   
    );
  }  
  .copyright {
    text-align: center;
    padding: 10px;
    margin-top: 16px;
    font-size: 12px;
  }
  .name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    margin: 10px 0;
    color: #fff; 
  }
  
  